{% extends "_base.html" %}
{% load render_bundle from webpack_loader %}

{% block head %}
{% render_bundle 'order-list' %}
{% endblock %}
{% endblock %

{% block content %}
<div id='order-list'></div>
<script type="text/javascript">
	socket = new WebSocket("ws://" + window.location.host + "/dashboard/");
	if (socket.readyState == WebSocket.OPEN) socket.onopen();
socket.onmessage = function(e) {
   console.log(JSON.parse(e.data));
}
socket.onopen = function() {
    
   socket.send(JSON.stringify({}))
}
</script>
{% render_bundle 'orderlist' %}
{% endblock %}