html, body {
  margin: 0;
  font-family: 'Roboto'; }

button {
  padding: 10px 25px;
  font-size: 1.2em;
  background: #4A89CF;
  color: white;
  border: 1px solid #4A89CF;
  border-radius: 3px; }
  button:hover {
    background: white;
    color: #4A89CF;
    cursor: pointer; }

#order-list .lists {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }
  #order-list .lists .list {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    min-width: 300px;
    margin: 2vw;
    transition: 250ms all; }
    #order-list .lists .list .item-list {
      background: #4A89CF;
      border-radius: 3px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
      padding: 2vw; }
      #order-list .lists .list .item-list .item {
        border: 1px solid white;
        margin: 10px 0;
        padding: 0 10px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
        background: white;
        border-radius: 3px; }
        #order-list .lists .list .item-list .item.drop-enter {
          opacity: 0;
          transform: translateY(-10px);
          transition: 250ms all; }
          #order-list .lists .list .item-list .item.drop-enter.drop-enter-active {
            transform: translateY(0);
            opacity: 1; }
